.outerBox {
  background-color: #fff2de;
  padding: 20px;
  width: 279px;
  border: 1px solid #dcd1c0;
  margin-top: 35px;
}

.text {
  text-transform: none;
  font-size: 14px;
}

.dismissButton {
  width: 112px;
  height: 37px;
  font-weight: 700;
  font-family: Roboto;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #707070;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .outerBox {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
}
