body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f2f3f5;
}

h1,
h2,
h4,
p {
  color: #707070;
}

h4 {
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  height: 55px;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 5px #dadada;
  color: blue;
  display: flex;
  align-items: center;
}
.nav-item {
  color: blue;
}

.postOptions {
  display: flex;
  align-items: flex-end;
  gap: 9px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  width: 90%;
  margin-top: 35px;
}

.managementImage {
  height: 60px;
}

.managementContent {
  display: flex;
  gap: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSide {
  width: 65vw;
  margin-right: 32px;
}

.rightSide {
  width: 20vw;
}

.logo {
  margin-left: 41px;
}

.type {
  color: white;
  background-color: red;
  text-transform: uppercase;
  font-size: 7px;
  padding: 2px;
  font-family: Roboto;
}

.BoardMessage {
  padding-left: 22px;
}

.Publication {
  background-color: white;
}
