body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  height: 55px;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 2px 2px grey;
  color: blue;
}
.nav-item {
  color: blue;
}

.postOptions {
  display: flex;
  align-items: flex-end;
  gap: 9px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
